config.py
*.idea
venv/
.idea/

# temporary files
*.log
*.pot
*.pyc
__pycache__/

### vscode ###
.vscode/*
*.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace